
/* Font styling Start */


/* legger til font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Font styling End */



/* all elements styling Start */


/* gir alle elementer posisjon og størrelse. også fjerner text stil til alle elementer  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }


/* all elements styling End */




/* custom scroll bar Start */



/* gir scrollbar bredde og oransje bakgunnsfarge.
   Også hvis man har pilen over scrollbar bytter bakgunnsfarge til blå */

  ::-webkit-scrollbar {
      width: 15px;

  }

  ::-webkit-scrollbar-thumb {
      background: orange;

  }

  ::-webkit-scrollbar-thumb:hover {
      background: firebrick;
  }

/* custom scroll bar End */





/* menu-bar styling Start */



/* gir posisjon for menu bar. */

.max-width {
  padding: 0 80px;
  margin: auto;
}


/* gir menu bar posisjon, bredde, verdi og font.
  også hvor mye tid skal den ta, til menu bar får bakgunnsfarge blå. */

.menu-bar {
  background: orangered;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  transition: 0.3s;
}



/* når man blar ned, får menu bar bakgunnsfarge blå. */

.menu-bar.sticky {
  padding: 15px 0;
  background: firebrick;
}


/* gir posisjon for menu bar og mellerom */

.menu-bar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* gir hvit farge til kallenavn min og hvor mye tykt skal den være */

.menu-bar .nickname a {
  color: white;
  font-size: 35px;
  font-weight: 600;
  }


/* gir blå farge til forkortelse av kallenavn min. */

.menu-bar .nickname a span{
  color: firebrick;

}

/* når man blar ned, bytter forkortelse av kallenavn min, farge til hvit. */

.menu-bar.sticky .nickname a span {
  color: white;
}


/* gir retning for menu bar tittelene */

.menu-bar .menu li {
  display: inline-block;
}


/* gir fontstørrelse og hvit farge til menu bar tittel.
   Også hvor mye tykt skal den være og hvor mye tid skal den ta, til den bytter farge. */

.menu-bar .menu li a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-left: 14px;
  transition: color 0.3s;
}


/* menu bar tittel får blå farge, når man tar pilen over den. */

.menu-bar .menu li a:hover {
  color: firebrick;

}


/* når menu bar har bakgunnsfarge blå. får menu bar tittel farge hvit, når man tar pilen over den. */

.menu-bar.sticky .menu li a:hover {
  color: white;
}

/* menu-bar styling End */




/* menu-icon styling Start */



/* gir menu icon og kryss icon hvit farge og fontstørrelse.
   Også sier jeg at, de skal ikke vises på skjermen og
   de skal få peke tegn, når man har pil over den. */

.menu-icon {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* menu-icon styling End */




/* all similar content styling code Start */



/* gir alle skesjoner posisjon. */


section {
  padding: 100px 0;
}


/* gir alle disse font. */

.about, .teams {
  font-family: 'Poppins', sans-serif;
}


/* gir alle disse posisjon, mellerom og bytter retning når skjermen blir mindre. */

.about .at {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* alle seksjoner tittel får font, posisjon, fontstørrelse og hvor mye tykt skal de være. */

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}


/* legger til innhold bokser som er My skills og About me
   og gir de posisjon, bredde, høyde og bakgrunn svart */

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: black;
  transform: translate(-50%);
}


/* gir posisjon, fontstørrelse og bakgrunn hvit, til innhold tekst som er i My skills og About me. */

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: firebrick;
  padding: 5px;
  background: white;
  transform: translate(-50%);
}

/* all similar content styling code End */







/* Homepage styling Start */


/* legger til bakgrunn for homepage min. etter det gir jeg font, hvit farge, posisjon
   og bakgrunnshøyde til homepage min. Også sier jeg at, bakgrunne skal dekke hele homepage. */

.homepage {
  display: flex;
  background: url(bilder-video/vann/vannkraft.jpeg);
  height: 100vh;
  color: firebrick;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}


/* gir posisjon til homepage min. */

 .homepage .max-width {
   margin: auto 0 auto 40px;
 }


 /* gir fontstørrelse  til homepage tekst nummer 1. */

 .homepage .text-1 {
   font-size: 27px;
 }


 /* gir fontstørrelse og posisjon til homepage tekst nummer 2. også hvor mye tykt skal den være. */

 .homepage .text-2 {
     font-size: 75px;
     font-weight: 600;
     margin-left: -3px;
 }

 /* gir fontstørrelse og posisjon til homepage tekst nummer 3. */

 .homepage .text-3 {
     font-size: 40px;
     margin: 5px 0;
 }


 /* gir turkish farge til teksten som blir skrevet i homepage. Også hvor mye tykt skal den være */

 .homepage .text-3 span {
    color: red;
    font-weight: 500;
 }



/* Homepage styling End */



/* play-icon styling Start */



/* gir størrelse og posisjon til play icon. */

.play img {
  margin-left: -6%;
  height: 100px;
  width: 100px;
}


/* gir hvit farge, fontstørrelse og posisjon til play teksten. også hvor mye tykt skal den være
   og mellerom mellom bokstav. etter det gjør jeg alle små bokstaver til store bokstaver
   og den skal få peke tegn når man har pilen over den. */

.play {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 6px;
  cursor: pointer;
  color: white;

}


/* play-icon styling End */



/* Video styling Start */


/* gir video min posisjon, verdi, størrelse og bagrunn svart.
   Også hvor mye synlig skal bakgrunn være til video og video skal være hjemt */

.video {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  visibility: hidden;
}


/* video skal vises når man klikker på play icon eller play teksten */

.video.active {
  visibility: visible;
}


/* gir maks bredde til video og fjerner linje rundt video. */

.video video {
  max-width: 900px;
  outline: none;
}


/* gir posisjon og maks bredde til kryss icon. også får den peke tegn når man tar pilen over den. */

.video .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  max-width: 32px;
}

/* Video styling End */







/* about section styling Start */





/* etter about tittel, legger jeg til innhold tekst */


.about .title::after {
  content: 'who are we';
}


/* gir høyde og bredde til bilde, somn er i venstre side.
   Derette skal bilde passe inn i, gitt høyde og bredde */

.about .left img {

  	height: 100%;
  	width: 100%;
  	object-fit: cover;
 }


/* gir bredde til about teksten og hvit farge, som er i høyre side.
   Det betyr at, etter 55% starter bokstavene gå ned over og dermed forsetter man. */

.about .right {
  width: 55%;
}

.about .right p {
  height: 25px;
  padding: 4px;
  margin-top: 10px;
  margin-left: -1px;
  color: black;
}



/* gir posisjon og fontstørrelse til avsnitt, som er i høyre side.
   også hvor mye tykt skal den være. */

.about .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}


/* gir blå farge til teksten som blir skrevet i about. */

.about .at .right .text span {
    color:firebrick;
}

/* gir alle disse posisjon, mellerom og bytter retning når skjermen blir mindre. */

.about .at {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* about section styling End */










/* id about section styling Start */



/* gir knappene mine posisjon, farger og størrelse  */

#button {
  position: relative;
  padding: 10px;
  width: 100px;
  top: 90px;
  margin-left: 10px;
  color: white;
  border-radius: 10px;
  background-color: firebrick;
  border: none;
}



/* gir posisjon til rom menyen. */ 

.right-menu {
  position: relative;
  margin-right: 20px;
}




/* gir farger, størrelse, gjennomsiktigbakgrunn 
til Din profil menyen og dersom du tar pilen din over 
den, vil pilen din reagere med den som en knapp. */

.menu-button {
    background-color: transparent;
    padding: 15px;
    width: 240px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
}




/* gir posisjon, et farge, størrelse, verdi til drop meyen 
for Din profil og sier at det skal ikke vises. */

.dropdown-menu {
    background-color: rgba(178, 34, 34, 0.582);
    display:none;
    position: absolute;
    margin-top: 3px;
    height: 300px;
    width: 240px;
    z-index: 1;
}



/* når du tar pilen din over Din profil-bar, så skal drop meny  
vise seg. */

 .right-menu:hover .dropdown-menu {
     display: block;
 }





/* gir høyde og bredde til linje som er bak bilde. */

#about .left {
 width: 380px;
 height: 460px;
}


/* gir høyde, bredde, posisjon og hvit farge, til box som er rundt bilde. */

#about .about-image {
  height: 80%;
  width: 70%;
  position: relative;
  border: 10px solid white;
}


/* gir høyde, bredde, verdi, posisjon og blå farge til innhold box som er bak bilde. */

#about .left .about-image::after {
	content: '';
	position: absolute;
	left: -30px;
	top: 25px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}


/* id about section styling End */








/* API section styling Start */

.api, .teams {
  font-family: 'Poppins', sans-serif;
}


/* gir alle disse posisjon, mellerom og bytter retning når skjermen blir mindre. */

.api .api-at {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* alle seksjoner tittel får font, posisjon, fontstørrelse og hvor mye tykt skal de være. */

section .api-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}


/* legger til innhold bokser som er My skills og About me
   og gir de posisjon, bredde, høyde og bakgrunn svart */

section .api-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: black;
  transform: translate(-50%);
}


/* gir posisjon, fontstørrelse og bakgrunn hvit, til innhold tekst som er i My skills og About me. */

section .api-title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: firebrick;
  padding: 5px;
  background: white;
  transform: translate(-50%);
}
/* etter about tittel, legger jeg til innhold tekst */


.api .api-title::after {
  content: 'Overview of the APIs';
}


/* gir høyde og bredde til bilde, somn er i venstre side.
   Derette skal bilde passe inn i, gitt høyde og bredde */

.api .api-left img {

  	height: 100%;
  	width: 100%;
  	object-fit: cover;
 }


/* gir bredde til about teksten og hvit farge, som er i høyre side.
   Det betyr at, etter 55% starter bokstavene gå ned over og dermed forsetter man. */

.api .api-right {
  width: 55%;
}

.api .api-right p {
  height: 25px;
  padding: 4px;
  margin-top: 10px;
  margin-left: -1px;
  color: black;
}



/* gir posisjon og fontstørrelse til avsnitt, som er i høyre side.
   også hvor mye tykt skal den være. */

.api .api-right .api-text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}


/* gir blå farge til teksten som blir skrevet i about. */

.api .api-at .api-right .api-text span {
    color:firebrick;
}

/* gir alle disse posisjon, mellerom og bytter retning når skjermen blir mindre. */

.api .api-at {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* gir høyde og bredde til linje som er bak bilde. */

#api .api-left {
  width: 380px;
  height: 460px;
 }
 
 
 /* gir høyde, bredde, posisjon og hvit farge, til box som er rundt bilde. */
 
 #api .about-image {
   height: 80%;
   width: 70%;
   position: relative;
   border: 10px solid white;
 }
 
 
 /* gir høyde, bredde, verdi, posisjon og blå farge til innhold box som er bak bilde. */
 
 #api .api-left .about-image::after {
   content: '';
   position: absolute;
   left: -30px;
   top: 25px;
   height: 98%;
   width: 98%;
   border: 7px solid crimson;
   z-index: -1;
 }
/* API section styling End */






/* teams section styling Start */



.teams {
  background: url(bilder-video/personer/team-background.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.teams .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: transparent;
  transform: translate(-50%);
}

.teams .title::after {
  background:rgba(255, 255, 255, 0.301);
}


/* gir titelen hvit farge. */

.teams h2 {
  color: white
}




/* etter teams tittel, legger jeg til innhold tekst. */

.teams .title::after{
    content: "members of the team";
    color: firebrick;
}


/* gir bredde, posisjon og bakgrunn grå til teams bokser. også hvor mye tid skal det ta, til de bytter farge.
   Etter det gjør jeg litt mindre firekantete. */

 .foto {
    display: flex;
    background: rgba(45, 31, 167, 0.712);
    padding: 25px 35px;
    text-align: center;
    transition: 0.3s;
}


/* gir fontstørrelse og posisjon til avsnitt. også hvor mye tykt skal de være. */

.foto .text {
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  color:white
}


/* gir høyde og bredde til bildene. også legger jeg til bokser, som er rundt bildene
   og gjør de om til sirkel. Deretter hvor mye tid skal det ta, til sirkelene, som er rundt bildene,
   bytter farge  */

.teams .ts .foto img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid firebrick;
    transition: 0.3s;
}


/* bytter farge til hvit, for sirkelene, so er rundt bildene  */

.teams .ts .foto:hover img {
  border-color: white;
}


/* bytter posisjon til teams bokser. når skjermen blir mindre.
   også hvor mye tid skal det ta, til størrelse på dem blir større. */

.foto .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.box {
  width: 500%;
  height: 300px;
}


/* gir størrelse på tems bokser og når man tar pilen over dem, så blir det større. */

.foto:hover .box{
    transform: scale(1.05);
}


/* bytter farge til blå, når man tar pilen over de . */

.foto:hover{
    background: firebrick;
}


/* gir hvit farge til teksten for teams */

p {
  height: 25px;
  padding: 4px;
  margin-top: 10px;
  margin-left: 5px;
  width: 90%;
  color: white;
}


/* teams section styling End */









/* footer section styling Start */


/* gir bakgrunn blå og posisjon til under tekst. */

footer {
    background: firebrick;
    padding: 14px 23px;
    text-align: center;
}


/* gir fontstørrelse og hvit farge til under tekst 1. også hvor mye tykt skal den være og
   fjerner text stil. */

footer h3 {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* gir fontstørrelse og hvit farge til under tekst 2. også fjerner jeg text stil til den. */

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* gir text stil til under tekst 2 og når man tar pilen over den, så får den linje under. */

footer a:hover {
  text-decoration: underline;
}

/* footer section styling End */













/* responsive media query Start */


@media (max-width: 1000px) {

  /* når bredde er 1000 til skjermen, så skal max-width klasser bytte posisjon */

  .max-width {
      padding: 0 50px;
  }
}


@media (max-width: 978px) {

/* gir maks bredde til klasse max-width. */

  .max-width {
    max-width: 800px;
  }



 /* gir posisjon, høyde, bredde og bakgrunn svart til menu bar bakgrunn. også hvor mye tid skal ta,
    til menu bar popper opp, når man klikker på menu icon. Det gjelder bare når bredde til skjermen er 978. */

  .menu-bar .menu {
    position: fixed;
    height:100vh;
    width: 100%;
    left: -100%;
    top: 0;
    padding-top: 80px;
    background: black;
    text-align: center;
    transition: 0.3s;

  }


/* gir posisjon til menu bar og den skal aktivere, når man klikker på menu icon.
   Det gjelder bare når bredde til skjermen er 978. */

  .menu-bar .menu.active {
    left: 0;
  }


/* gir retning til menu bar tittelene. Det gjelder bare mår bredde til skjermen er 978. */

  .menu-bar .menu li {
    display: block;
  }


/* gir retning til menu bar tittelene. Det gjelder bare når bredde til skjermen er 978. */

  .menu-bar .menu li a {
    display: inline-block;
    margin: 25px 0;
    font-size: 25px;
  }




/* gir posisjon til bilde og innhold box, som er bak bilde.
   Det gjelder bare når bredde til skjermen er 978. */

  .about .left{
      display: flex;
      object-fit: cover;
      justify-content: center;
      margin: 0 auto 60px;
  }


/* gir bredde til avsnitt, som er for About me.
   Det gjelder bare når bredde til skjermen er 978. */

  .about .at .right{
      width: 100%;
  }


/*  gir bredde og høyde til bildene, som er for My teams.
    Det gjelder bare når bredde til skjermen er 978. */

  .teams .ts .foto img {
      height: 100px;
      width: 100px;
  }


/*  gir bredde og høyde til play icon.
    Det gjelder bare når bredde til skjermen er 978. */

  .play img {
     height: 100px;
     width: 100px;
   }


 /*  gir fonstørrelse til play teksten.
     Det gjelder bare når bredde til skjermen er 978. */

   .play {
     font-size: 30px;
   }

/*  gir maks bredde til video og fjerner linje rundt video.
    Det gjelder bare når bredde til skjermen er 978. */

   .video video {
     max-width: 370px;
     outline: none;
   }
 }



 @media (max-width: 690px) {


/* når bredde er 690 til skjermen, så skal max-width klasser bytte posisjon */

   .max-width {
       padding: 0 22px;
   }


/*  gir fonstørrelse til tekst nummer 2, som er i homepage.
    Det gjelder bare når bredde til skjermen er 690. */

   .homepage .text-2 {
       font-size: 60px;

   }


/*  gir fonstørrelse til tekst nummer 3, som er i homepage.
    Det gjelder bare når bredde til skjermen er 690. */

   .homepage .text-3{
       font-size: 32px;

   }


/*  gir fonstørrelse til play tekst, som er i homepage.
    Det gjelder bare når bredde til skjermen er 690. */

   .homepage a {
     font-size: 20px;

   }



/*  gir bredde og høyde til play icon. Det gjelder bare når bredde til skjermen er 690. */

   .play img {
      height: 100px;
      width: 100px;
    }


/*  gir maks bredde til video og fjerner linje rundt video.
    Det gjelder bare når bredde til skjermen er 690. */

    .video video {
      max-width: 370px;
      outline: none;
    }

 }



 @media (max-width: 528px) {

/*  gir bredde og høyde til play icon. Det gjelder bare når bredde til skjermen er 528. */

    .play img {
       height: 40px;
       width: 40px;
     }


/*  gir posisjon til play teksten og play icon.
    Det gjelder bare når bredde til skjermen er 528. */

     .play {
       margin-top: -7px;
       margin-left: 3px;
     }

/*  gir posisjon og maks bredde til kryss icon, som er for video.
    også når man tar pilen over den, så kommer det peke tegn.
    Det gjelder bare når bredde til skjermen er 528. */

     .video .close {
       margin-left: 3%;
       margin-top: -4%;
       position: absolute;
       cursor: pointer;
       max-width: 20px;
     }


 }



 @media (max-width: 500px) {

/*  gir fonstørrelse til tekst nummer 2, som er i homepage.
    Det gjelder bare når bredde til skjermen er 500. */

   .homepage .text-2 {
       font-size: 50px;

   }


/*  gir fonstørrelse til tekst nummer 3, som er i homepage.
    Det gjelder bare når bredde til skjermen er 500. */

   .homepage .text-3 {
       font-size: 27px;

   }


/*  gir bredde og høyde til play icon. Det gjelder bare når bredde til skjermen er 500. */

  .play img {
     height: 60px;
     width: 60px;
   }


   .video video {
     max-width: 370px;
     outline: none;
   }

/*  gir posisjon og maks bredde til kryss icon, som er for video.
    også når man tar pilen over den, så kommer det peke tegn.
    Det gjelder bare når bredde til skjermen er 500. */

   .video .close {
     margin-left: 3%;
     margin-top: -4%;
     position: absolute;
     cursor: pointer;
     max-width: 20px;
   }

 }

 /* responsive media query End */
